
<div id="yoyos">
  <% @yoyos.each do |yoyo| %>
    <div>
      <%= image_tag yoyo.image, class: 'thumbnail' %>
      <%= link_to yoyo.title,
        yoyo_path(yoyo),
        class: 'yoyo_title',
        id: "yoyo_#{yoyo.id}" %>
      <%# yoyo.description %></b>
    </div>
    <% end %>
</div>
