/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: #213;
  color: #edd;
  margin: 0;
}

main{
  padding: 2em;
}

ul{
  list-style-type: none;
}

a{
  color: #bad;
}

a:visited{
  color: #baa;
}

a:hover{
  color: #dad;
}

.flash{
  color: #dad;
  display: block;
  width: 100%;
  margin: 0;
  padding: .2em 2em;
  border-bottom: solid 1px #bad;
}

#yoyos{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
}

.thumbnail{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

small{
  font-size: .6em;
  font-weight: normal;
  color: #88c;
}

.comment{
  border-bottom: 1px solid #bad;
  font-size: .8em;
}
