/*
 *= require_tree .

 *= require_self
 */

 :root{
  --dark: #170236;
  --darkest: #0c0218;
  --dark_bright: #1c0050;
  --cool : #b6c9e9;
  --cool_bright: #7398eb;
  --cool_dim: #3d4499;
  --warm : #e7dfb9;
  --warning: #ff2a7d;
  --alert : #ffc950;
  --success : #17608a;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--darkest);
  color: var(--warm);
  display: flex;
  flex-direction: column;
}

header,
.flash,
.alert,
main{
  padding: .5em 2em;
}

header{
  background-color: var(--dark);
  flex-shrink: 0;
  display: flex;
}

nav a{
  padding-right: 1em;
}

.flash{
  flex-stretch: auto;
  width: 100%;
  border-bottom: solid 8px var(--darkest);
  background-color: var(--success);
}

#page_title{
  font-size: 1.2em;
  padding-right: 2em;
}

.make_model{
  padding: 1em 0;
  background-color: var(--dark);
}
main{
  flex: 1 0 auto;
}

footer{
  flex-shrink: 0;
  padding: .5em 2em;
  background-color: var(--dark);
  display: flex;
}

#credits{
  flex-grow: 1;
}

#user_options{
  flex-shrink: 0;
  align-self: flex-end;
}


ul{
  list-style-type: none;
}

a{
  color: var(--cool);
}

a:visited{
  color: var(--cool_dim);
}

a:hover{
  color: var(--cool_bright);
}

#yoyos{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, 1fr);
  grid-gap: 0;
  line-height: 1;
}

.thumbnail{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.yoyo_title{
  display: block;
  margin: 0;
  padding: .3em;
  background-color: var(--dark);
}

small,
.subtext{
  font-size: .6em;
  font-weight: normal;
}
